.menu-nav-wrapper {
  position: relative;
  z-index: 12;
  height: 100%;
  width: 50%;
}

.-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .menu-nav-links {
    margin-top: -30px;
  }
}

@media (max-width: 823px) and (orientation: landscape) {
  .menu-nav-links {
    margin-top: -30px;
  }
}

@media (max-width: 1024px) {
  .menu-nav-wrapper {
    width: 100%;
  }
}