@import "sass/_variables.scss";

.menu-nav-wrapper {
  position: relative;
  z-index: 12;
  height: 100%;
  width: 50%;
}

.-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: $m) {
  .menu-nav-links {
    margin-top: -30px;
  }
}

@media (max-width: $l) {
  .menu-nav-wrapper {
    width: 100%;
  }
}