.menu-nav-link {
  font-family: 'benton-modern-display';
  font-size: 102px;
  letter-spacing: 6.3px;
  line-height: 1.1;
  color: #fff;
}

.menu-nav-links:hover .menu-nav-link:not(:hover) {
  opacity: 0.5;
  transition: opacity 0.2s;
}
