@import "sass/_variables.scss";

.info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info-header-wrapper {
  position: relative;
  z-index: 10;
  margin-bottom: 67px;
}

.info-header {
  color: #fff;
  font-family: "benton-modern-display";
  font-size: 127px;
  font-weight: 400;
  letter-spacing: 0.0617em;
  line-height: 1;
  text-align: center;
}

.info-image-wrapper {
  width: 50%;
  padding: 0 5%;
  position: absolute;
  top: 0;
  text-align: center;
}

.info-image {
  width: 80%;
  margin: auto;
  display: inline-block;
  margin-bottom: -2%;
}

.info-image img {
  max-width: 100%;
  height: auto;
}

.info-content-wrapper {
  padding-left: 51%;
}

.info-title {
  margin-bottom: 27px;
}

.info-text {
  color: $grey;
  width: 85%;
  line-height: 1.57;
  letter-spacing: 0.034em;
  margin-bottom: 41px;
}

@media (max-width: 1366px) {
  .info-header-wrapper {
    margin-bottom: 55px;
  }

  .info-header {
    font-size: 86.5px;
    letter-spacing: 0.061em;
  }

  .info-image-wrapper {
    overflow: hidden;
  }

  .info-title {
    font-size: 35px;
    letter-spacing: 0.06em;
    margin-bottom: 23px;
  }

  .info-text {
    width: 85%;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.53;
    margin-bottom: 33px;
  }
}

@media (max-width: 1024px) {
  .info-text {
    letter-spacing: 0.055em;
  }
}

@media (max-width: 768px), (max-width: 823px) and (orientation: landscape) {
  .info-header-wrapper {
    margin-bottom: 60px;
  }

  .info-header {
    font-size: 93px;
    letter-spacing: 0.06em;
    line-height: 0.8;
    text-align: start;
  }

  .info-image-wrapper {
    width: 100%;
    position: static;
    margin-top: -25%;
  }

  .info-image {
    width: 100%;
  }

  .info-content-wrapper {
    padding: 0;
    margin-top: 42px;
  }

  .info-title {
    font-size: 38px;
    letter-spacing: 0.055em;
    margin-bottom: 24px;
  }

  .info-text {
    font-size: 15px;
    line-height: 1.55;
    margin-bottom: 34.5px;
  }
}

@media (max-width: 480px) {
  .info-image {
    margin-bottom: -1%;
  }

  .info-header-wrapper {
    margin: 0;
  }

  .info-header {
    font-size: 75px;
  }

  .info-content-wrapper {
    margin-top: 44px;
  }

  .info-title {
    font-size: 30px;
    letter-spacing: 0.06em;
    margin-bottom: 17px;
  }

  .info-text {
    width: 100%;
    margin-bottom: 30px;
  }
}
