@import "sass/_variables.scss";

.info {
  position: relative;
}

.info-header-wrapper {
  position: relative;
  z-index: 10;
  margin-bottom: 67px;
}

.info-header {
  color: #fff;
  font-family: "benton-modern-display";
  font-size: 127px;
  font-weight: 400;
  letter-spacing: 0.0617em;
  line-height: 1;
  text-align: center;
}

.info-image-wrapper {
  width: 50%;
  padding: 0 5%;
  position: absolute;
  top: 0;
  text-align: center;
}

.info-image {
  width: 80%;
  margin: auto;
}

.info-image img {
  max-width: 100%;
  height: auto;
}

.info-content-wrapper {
  padding-left: 51%;
}

.info-title {
  margin-bottom: 27px;
}

.info-text {
  color: $grey;
  width: 85%;
  line-height: 1.57;
  letter-spacing: 0.034em;
  margin-bottom: 41px;
}
