@import "sass/_variables.scss";

.row {
  padding: 0 10.5%;  
}

.hero {
  height: 100vh;
  padding-top: 3%;
  display: flex;
  align-items: center;
}

.hero-content {
  margin-top: 10vh;
  flex: 0 0 33.8%;
  position: relative;
  z-index: 11;
}

.hero-title {
  color: $black;
  font-family: 'benton-modern-display';
  font-size: 51px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1;
  margin-bottom: 29.9px;
}

.hero-text {
  color: $grey;
  width: 70%;
  font-size: 16.5px;
  letter-spacing: 0.033em;
  line-height: 1.56;
  margin-bottom: 29.9px;
}

.hero-link {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.link-line {
  content: '';
  width: 21px;
  height: 1px;
  background: #d43246;
  display: inline-block;
  position: absolute;
  top: calc(50% - 1px);
}

.hero-link svg {
  width: 36px;
  height: 11px;
  margin-top: -1px;
}

.hero-link polyline, .hero-link line {
  fill: none;
  stroke: #d43246;
  stroke-width: 4;
}

.hero-link .link-text-wrapper {
  display: inline-block;
  padding: 0 10px;
}

.hero-link .link-text {
  color: #d43246;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.16em;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero-slider {
   width: 65%;
   height: 70vh;
   margin-left: -8%;
}

.hero .slider-mask {
  background: $background;
}
