@import "sass/_variables.scss";

.row {
  padding: 0 10.5%;
}

.separator {
  height: 221px;
}

.separator.-big {
  height: 271px;
}

section .slider-mask {
  background: $background;
}

@media (max-width: 1600px) {
  .separator {
    height: 196px;
  }

  .separator.-big {
    height: 240px;
  }
}

@media (max-width: 1366px) {
  .separator {
    height: 182px;
  }

  .separator.-big {
    height: 224px;
  }
}

@media (max-width: 1024px) {
  .separator {
    height: 196px;
  }

  .separator.-big {
    height: 240px;
  }
}

@media (max-width: 768px), (max-width: 823px) and (orientation: landscape) {
  .separator {
    height: 121px;
  }

  .separator.-big {
    height: 75px;
  }
}

@media (max-width: 480px) {
  .row {
    padding: 0 30px;
  }

  .separator {
    height: 76px;
  }

  .separator.-big {
    height: 75px;
  }
}
