@import "sass/_variables.scss";

.work {
  padding: 155px calc(20.5vw - 88px) 0;
  display: flex;
  flex-wrap: wrap;
}

.-no-pe .project {
  pointer-events: none;
}

.project {
  flex: 0 0 calc(50% - 88px);
  margin: 0 44px 88px;
  position: relative;
}

.project a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 22;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
}

.project-title h2 {
  font-size: 102px;
}

.project-title-top,
.project-title-bottom {
  position: absolute;
}

.project-title-top {
  top: 10%;
  left: -2.5%;
}

.project-title-bottom {
  bottom: 10%;
  right: -2.5%;
}

.project-title span {
  display: block;
}

.project-title .char {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.28, 1, 0.5, 1);
}

@for $i from 1 through 4 {
  .project:hover .project-title span .char:nth-child(4n + #{$i}) {
    transition: opacity 1s cubic-bezier(0.28, 1, 0.5, 1) (random(4) - 1) * 75ms;
  }
}

.project-image-wrapper {
  overflow: hidden;
}

.project-image-crop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.project-image img {
  transition: transform 0.6s;
}

.project:hover .project-image img {
  transform: translateY(-10px);
  transition: transform 1s;
}

.project-crop {
  position: absolute;
  z-index: 9;
  background: $background;
  transition: transform 0.76s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project:hover {
  .project-crop:nth-child(1),
  .project-crop:nth-child(3) {
    transform: scaleY(1);
  }

  .project-crop:nth-child(2),
  .project-crop:nth-child(4) {
    transform: scaleX(1);
  }
}

.project:hover .project-title .char {
  opacity: 1;
}

.project-crop:nth-child(1),
.project-crop:nth-child(3) {
  width: 100%;
  height: 34px;
  transform: scaleY(0);
}

.project-crop:nth-child(2),
.project-crop:nth-child(4) {
  width: 34px;
  height: 100%;
  transform: scaleX(0);
}

.project-crop:nth-child(1) {
  top: 0;
  transform-origin: 50% 0%;
}

.project-crop:nth-child(2) {
  left: 0;
  transform-origin: 0% 50%;
}

.project-crop.project-crop:nth-child(3) {
  bottom: 0;
  transform-origin: 50% 100%;
}

.project-crop:nth-child(4) {
  right: 0;
  transform-origin: 100% 50%;
}

.project-cover-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  overflow: hidden;
}

.project-cover {
  background: $background;
  height: 100%;
  transform: translateY(100%);
}

@media (max-width: 1600px) {
  .work {
    padding: 137px calc(20.5vw - 78px) 0;
  }

  .project {
    flex: 0 0 calc(50% - 78px);
    margin: 0 39px 78px;
  }

  .project-title h2 {
    font-size: 90px;
  }

  .project-crop:nth-child(1),
  .project-crop:nth-child(3) {
    height: 22px;
  }

  .project-crop:nth-child(2),
  .project-crop:nth-child(4) {
    width: 22px;
  }
}

@media (max-width: 1366px) {
  .work {
    padding: 127px calc(20.5vw - 72.8px) 0;
  }

  .project {
    flex: 0 0 calc(50% - 72.8px);
    margin: 0 36.4px 72.8px;
  }

  .project-title h2 {
    font-size: 84px;
  }
}

@media (max-width: 1024px) {
  .work {
    padding: 137px calc(20.5vw - 78px) 0;
  }

  .project {
    flex: 0 0 calc(50% - 78px);
    margin: 0 39px 78px;
  }

  .project-title h2 {
    font-size: 60px;
  }

  .project-title-top {
    left: -10%;
  }

  .project-title-bottom {
    right: -10%;
  }
}

@media (max-width: 768px), (max-width: 823px) and (orientation: ladscape) {
  .work {
    padding: 137px calc(15.5vw - 78px) 0;
  }

  .project-title h2 {
    white-space: nowrap;
  }

  .project-title-top {
    top: 12%;
  }

  .project-title-bottom {
    bottom: 12%;
  }
}

@media (max-width: 460px) {
  .work {
    display: block;
    padding: 98px 52.5px 0;
  }

  .project {
    margin: 0 0 30px;
  }
}
