@import "sass/_variables.scss";

.vertical-nav-links li {
  display: inline-block;
  cursor: pointer;
}

.vertical-nav-links .link-wrapper {
  margin: 0 2vh;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.vertical-nav-links .link-name {
  display: block;
  margin: 0 1vh;
  color: $grey;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 7.05px;
  transition: color 0.3s;
  line-height: 10px;
}

.vertical-nav li:hover .link-name {
  color: $red;
}

.vertical-nav .active .link-name {
  color: $red;
}

.vertical-nav-links .link-mask {
  background: #3a3c49;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1600px) {
  .vertical-nav-links .link-name {
    font-size: 10px;
    letter-spacing: 6px;
  }
}