@import "sass/_variables.scss";

.footer-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  margin-bottom: 78px;
  position: relative;
  z-index: 10;
}

.footer-center {
  margin-left: 90px;
}

.footer-center span {
  margin-right: 9px;
}

.footer-text a {
  color: $grey;
  text-decoration: none;
}

.footer-center a {
  position: relative;
}

.footer-center a::before {
  content: "•";
  margin: 0 6px;
  position: relative;
  top: -1px;
}

.footer-right {
  cursor: pointer;
}

.footer-text span {
  color: $grey;
  font-size: 11px;
  letter-spacing: 0.605em;
}

@media (max-width: 1600px) {
  .footer-text {
    margin-bottom: 37px;
  }

  .footer-text span {
    font-size: 10px;
    letter-spacing: 0.57em;
  }

  .footer-center span {
    margin-right: 8px;
  }
}

@media (max-width: 1366px) {
  .footer-text {
    margin-bottom: 40px;
  }

  .footer-text span {
    font-size: 9px;
    letter-spacing: 0.61em;
    line-height: 1;
  }
}

@media (max-width: 1024px) {
  .footer-text {
    padding: 0 50px;
  }

  .footer-text span {
    font-size: 9.5px;
    letter-spacing: 0.63em;
  }

  .footer-center {
    margin-left: 89px;
  }

  .footer-center span {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .footer-text {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
  }

  .footer-text span {
    margin-bottom: 14px;
  }

  .footer-text span:not(:last-child) a {
    display: none;
  }

  .footer-center {
    margin-left: 0;
  }
}
