@import "sass/_variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #fff;
}

.footer-content,
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  height: 100%;
}

.footer-contact {
  position: relative;
  text-align: center;
  flex-grow: 1;
}

.footer-contact-inner {
  position: relative;
}

.footer-contact-inner > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
}

.footer-contact h3 {
  font-size: 85px;
  line-height: 1;
  margin-bottom: 33px;
}

.footer-contact span {
  display: inline-block;
  color: $red;
  font-size: 12.5px;
  letter-spacing: 0.185em;
  margin-bottom: 13px;
}
