@import "sass/_variables.scss";

.intro-main,
.intro-inverted {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.main-symbol,
.inverted-symbol,
.intro-title {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-background,
.inverted-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.symbol-wrapper {
  width: 120px;
  height: 120px;
}

.main-background {
  background: $light;
}

.main-background {
  background: $light;
}

.main-symbol path {
  fill: $black;
  opacity: 0;
}

.main-symbol line {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  stroke: $black;
}

.inverted-background {
  background: $black;
  transform: translateX(-100%);
}

.symbol-mask {
  transform: translateY(-100%);
  overflow: hidden;
}

.inverted-symbol .symbol {
  transform: translateY(100%);
}

.inverted-symbol path {
  fill: $light;
}

.inverted-symbol line {
  stroke: $light;
}

.intro-title {
  opacity: 0;
  z-index: 102;
}

.intro-title .title {
  width: 350px;
  height: 120px;
}

.intro-title .title-top path {
  fill: $light;
}

.intro-title .title-bottom path {
  fill: #bdb5aa;
}
