.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 110;
}

.loader .symbol-mask {
  transform: none;
}

.loader .symbol {
  transform: rotate(30deg);
  opacity: 0.6;
}

.loader line {
  stroke-dashoffset: 141;
}

.loader path {
  opacity: 0;
}
