.menu-button {
  width: 60px;
  height: 60px;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 33px;
  cursor: pointer;
}

.menu-button .menu-hamburger {
  opacity: 1;
}

.menu-button .menu-cross {
  opacity: 0;
}

.menu-button.open .menu-hamburger {
  opacity: 0;
}

.menu-button.open .menu-cross {
  opacity: 1;
}
