@import 'sass/_variables.scss';

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.menu.show {
  visibility: visible;
}

.menu.hide {
  visibility: hidden;
  transition: visibility 0s 1.85s; // 1s
}

.menu .vertical-nav {
  width: 58px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 33px;
  display: block;
}

.menu .vertical-nav-links {
  width: 100vh;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 30px 50%;
}

.menu .vertical-nav-links li:last-child {
  position: absolute;
  right: 20px;
}
