@import 'sass/_variables.scss';

.nav {
  width: 30px;
  height: 80vh;
  position: fixed;
  right: 46px;
  top: 10vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  transform: rotate(90deg);
  list-style: none;
  white-space: nowrap;
  line-height: 15px;
}

.nav li {
  display: inline-block;
  cursor: pointer;
}

.nav .link-wrapper {
  margin: 0 2vh;
  display: inline-block;
  position: relative;
}

.nav .link-name {
  display: block;
  margin: 0 1vh;
  color: $grey;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 6px;
  transition: color 0.3s;
  line-height: 10px;
}

.nav li:hover .link-name {
  color: $red;
}

.nav .active .link-name {
  color: $red;
}

@media (max-width: $l) {
  .nav {
    display: none;
  }
}

@media (min-width: $xxl) {
  .nav {
    right: 57px;
  }

  .nav .link-name {
    font-size: 12px;
    letter-spacing: 7.05px;
  }
}
