@import 'sass/_variables.scss';

.vertical-nav {
  width: 30px;
  height: 80vh;
  position: fixed;
  right: 46px;
  top: 10vh;
  z-index: 10;
}

main > .vertical-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .vertical-nav {
  width: 58px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 33px;
  display: block;
}

.vertical-nav-links {
  transform: rotate(90deg);
  white-space: nowrap;
  line-height: 15px;
}

.menu .vertical-nav-links {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 30px 50%;
}

.menu .vertical-nav-links li:last-child {
  position: absolute;
  right: 20px;
}

@media (max-width: $l) {
  .vertical-nav {
    display: none;
  }
}

@media (min-width: $xxl) {
  .vertical-nav {
    right: 57px;
  }
}
