@import 'sass/_variables.scss';

@font-face {
  font-family: 'benton-sans';
  src: url('https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'benton-sans', sans-serif;
}

.scroll-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $background;
}

.main-content {
  height: 100vh; // remove
}
