.cursor-progress circle {
  fill: none;
  stroke-width: 1.2;
  stroke-dasharray: 200;
  stroke-dashoffset: 100px;
  transition: stroke-dashoffset 1.1s ease;
}

.scroll-cursor .cursor-progress circle {
  stroke: #d43246;
}

.menu-cursor .cursor-progress circle {
  stroke: #3e3e4e;
}