.slider-nav {
  display: flex;
  position: absolute;
  top: 13%;
  right: -67px;
}

.slider-progress {
  color: $grey;
  font-family: "benton-modern-display";
  font-size: 20px;
  margin-right: 30px;
  line-height: 1;
}

.slider-prefix {
  line-height: 1;
}

.slider-prefix span {
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 17px;
}

.slider-current {
  position: absolute;
  left: 30px;
  width: 16px;
  height: 100%;
  overflow: hidden;
  line-height: 1;
}

.slider-current span {
  position: absolute;
  transition: all 0.3s cubic-bezier(0.215, 0.31, 0.655, 1);
}

.slider-dots {
  display: flex;
  align-items: center;
}

.slider-dot {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: width 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider-dot::after {
  content: "";
  width: 2px;
  height: 2px;
  background: $grey;
  position: absolute;
  top: 5px;
  left: 4px;
}

.slider-dot.active {
  width: 96px;
  pointer-events: none;
}

.slider-dot.active::after {
  width: calc(100% - 10px);
  height: 1px;
}

.slider-dot:not(.active)::after {
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .slider-nav {
    display: none;
  }
}
