.testimonials {
  position: relative;
}

.testimonials .section-header-wrapper {
  margin-bottom: 155px;
}

.testimonials-image-wrapper {
  width: 50%;
  height: 25vw;
  position: absolute;
  top: 11%;
  padding-right: 2.5%;
}

.testimonials-image-wrapper .testimonials-slider {
  overflow: hidden;
}

.testimonials-image-wrapper .slider-nav {
  margin: 27px 0 0 12%;
}

.testimonials-content {
  padding-left: 51%;
}

.testimonials-content .quotemark {
  color: #fff;
  font-family: "benton-modern-display";
  font-size: 127.5px;
  line-height: 0.8;
}
